:root {
    --c-topic: #000;
    --fz-aside: 14px;
    --fz-section-title: 18px;
    --mw-document: 800px;
    --p-header-bottom: 16px;
    --p-separation: 96px;
    --p-u-center: 0 32px;
    --w-aside: 320px;
    --primary-color: #09f;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
        Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
        segoe ui symbol;
    display: block;
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    margin-bottom: 32px;
    position: relative;
    z-index: 3;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
}

.header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: var(--p-header-bottom);
}

#nav {
    align-items: center;
    display: flex;
}

#nav a {
    border: 1px solid transparent;
    color: #222;
    padding: 10px 6px;
}

@media (min-width: 600px) {
    #nav a {
        padding: 10px 12px;
    }
}

#nav .page-links {
    font-size: var(--fz-page-links);
}

#nav a:hover {
    transform: scale(1.1);
    transition: 100ms;
}

#logo,
#logo img {
    height: 44px;
    transition: transform ease 0.3s;
    width: auto;
}

#logo:hover {
    transform: scale(1.1);
}

#logo-letras{
    display: block;
}

#logo-small{
    display: none;
}

@media (min-width: 768px) {
    main {
        min-height: calc(100vh - 183px);
    }
}

@media (max-width: 768px) {
    main {
        min-height: calc(100vh - 204px);
    }
}

@media (max-width: 768px) {
    #logo-letras{
      display: none;
    }
    #logo-small{
      display: block;
    }
  }

.u-none {
    display: none !important;
}

.u-center {
    max-width: var(--mw-document);
    margin: 0 auto;
    padding: var(--p-u-center);
}

.section-title {
    color: #111;
    font-weight: 700;
    font-size: var(--fz-section-title);
    padding-bottom: 8px;
}

a {
    color: #09f;
    text-decoration: none;
}

footer {
    background: #f1f5f9;
    padding-top: 10px;
    text-align: center;
    position: relative;
}

footer .u-center {
    padding-top: 10px;
}

footer a {
    color: #555;
    margin-right: 16px;
}

footer a:hover {
    color: #222;
}

#home-feed {
    flex: 1 1;
    padding-right: var(--p-separation);
    max-width: 800px;
    margin: 0 auto;
}

.home-article h2 {
    color: #444;
    font-size: 18px;
    font-weight: 600;
}

.home-article picture,
.home-article img {
    width: 48px;
    height: 48px;
    margin-right: 24px;
    object-fit: contain;
    margin-left: 4px;
    transition: transform 0.3s ease;
    position: relative;
}

.home-article .secondary {
    width: 24px;
    border: 1px solid #ccc;
    height: 24px;
    padding: 2px;
    background: #fff;
    object-fit: contain;
    border-radius: 100%;
    bottom: -7px;
    left: 32px;
    position: absolute;
}

.home-article {
    align-items: center;
    border-radius: 4px;
    display: flex;
    margin-left: -8px;
    margin-bottom: 8px;
    padding: 8px;
}

.home-article:hover {
    background: #eee;
}

.home-article:hover img {
    transform: scale(1.15);
}

.home-article:hover h2 {
    color: var(--primary-color);
}

.home-article .meta {
    color: #535353;
    font-size: 12px;
    padding-top: 4px;
}

.presentation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.presentation img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0 3rem 0 0;
}

@media (max-width: 768px) {
    .presentation {
        flex-direction: column; /* Cambia la disposición de los elementos a vertical */
    }

    .perfil {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .perfil img {
        margin: 0 auto;
    }
}

.highlight {
    color: var(--primary-color);
}

.card{
    -webkit-box-shadow: -1px 1px 7px 8px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 1px 7px 8px rgba(0,0,0,0.51);
    box-shadow: -1px 1px 7px 8px rgba(0,0,0,0.51);
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
}

.habilidades {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px; 
}

.habilidad {
    flex: 1 1 300px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
}

.iconos img {
    width: 100px; 
    height: auto;
}

@media (max-width: 600px) {
    .habilidad {
        flex-basis: 100%; 
    }
}
/* .habilidad .iconos{
    line-height: 2;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

@media (min-width: 768px){
    .habilidades {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        column-gap: 1rem;
    }
}

.projects-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .projects-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .project {
    flex: 1 1 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .project h3 {
    margin-top: 0;
  }
  
  .project a {
    font-weight: bold;
  }
  
  .blog-section img {
    max-width: 400px;
    width: 100%;
  }